{% extends 'base.html' %}

{% block title %}{{ follower.username }}{% endblock %}


{% block content %}
<div class="username">
        <p class="username-text">{{ follower.username }}</p>
    </div>


    <div class="info-profile">
        <img class="avatar" src="{{ follower.profile.avatar.url }}">
        <div class="statistics">
            <ul class="statistics-list">
                <li class="list-data"><p class="text-statistics">{{ post.count }}</p><p class="text-statistics inf">Posts</p></li>
                <li class="list-data"><a href="{% url 'user_follower' follower.id %}"><p class="text-statistics">{{ follower.profile.follower.count }}</p><p class="text-statistics inf">Followers</p></a></li>
                <li class="list-data"><a href="{% url 'following' %}"><p class="text-statistics">{{ follower.profile.following.count }}</p><p class="text-statistics inf">Following</p></a></li>
            </ul>
        </div>
    </div>

    <div class="bio">
        <p class="bio-name">{{ follower.first_name }} {{ follower.last_name }}</p>
        <p class="bio-text">{{ follower.profile.bio }}</p>
    </div>

    <div class="edit">
        {% if follower  in user.profile.following.all %}
            <form action="{% url 'unfollow' follower.id %}" method="post">
                {% csrf_token %}
                <input class="btn-edit-profile" type="submit" value="Unfollow">
            </form>
        {% else %}
        <form action="{% url 'add_following' follower.id %}" method="post">
            {% csrf_token %}
            <input class="btn-edit-profile" type="submit" value="Subscribe">
        </form>
        {% endif %}
    </div>

    <div class="view-content">
        <div class="icon-1">
            <a href="#">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.75" y="0.75" width="26.2778" height="26.5" stroke="black" stroke-width="1.5"/>
                    <rect x="0.75" y="0.75" width="8.42064" height="26.5" stroke="black" stroke-width="1.5"/>
                    <rect x="18.6071" y="0.75" width="8.42064" height="26.5" stroke="black" stroke-width="1.5"/>
                    <rect x="0.75" y="27.25" width="8.5" height="26.2778" transform="rotate(-90 0.75 27.25)" stroke="black" stroke-width="1.5"/>
                    <rect x="0.75" y="9.25" width="8.5" height="26.2778" transform="rotate(-90 0.75 9.25)" stroke="black" stroke-width="1.5"/>
                </svg>
            </a>
        </div>
        <div class="icon-2">
            <a href="#">
                <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.75 5C0.75 4.30964 1.30964 3.75 2 3.75H10.5858C11.0499 3.75 11.495 3.56563 11.8232 3.23744L13.8232 1.23744C13.9209 1.13981 14.0791 1.13981 14.1768 1.23744L14.6982 0.715995L14.1768 1.23744L16.1768 3.23744C16.505 3.56562 16.9501 3.75 17.4142 3.75H26C26.6904 3.75 27.25 4.30964 27.25 5V27C27.25 27.6904 26.6904 28.25 26 28.25H2C1.30964 28.25 0.75 27.6904 0.75 27V5Z" stroke="#B4B4B4" stroke-width="1.5"/>
                    <path d="M5.75 26C5.75 23.6528 7.65279 21.75 10 21.75H18C20.3472 21.75 22.25 23.6528 22.25 26V28.25H5.75V26Z" stroke="#B4B4B4" stroke-width="1.5"/>
                    <circle cx="14" cy="13" r="4.25" stroke="#B4B4B4" stroke-width="1.5"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="content">
       {% for p in post %}
            <a href="{% url 'view_post' p.id %}"><img class="image-content" src="{{ p.image.url }}"></a>
        {% endfor %}
    </div>
{% endblock %}